.option-container{
    width: 500px;
    height: 50px;
    background: yellow;
}

.destroyer{
    background-color: brown;
}

.submarine{
    background-color: green;
}

.cruiser{
    background-color: purple;
}

.battleship{
    background-color: orange;
}

.cruiser{
    background-color: blue;
}

.destroyer-preview{
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}